@font-face{
    font-family: 'Byekan+';
    font-weight: normal;
    src: url(../assets/fonts/BYekan+.ttf);
}
@font-face{
    font-family: 'Byekan+';
    font-weight: bold;
    src: url(../assets/fonts/BYekan+Bold.ttf);
}
*{
    font-family: 'Byekan+';
}